@typeparam TData
@attribute [StreamRendering]

<h3>@Device.Name</h3>

<QuickGrid Items="@this._data">
    <TemplateColumn Title="Title">
        @context.Id
    </TemplateColumn>
    <PropertyColumn Property="@(p => p.RecordDateTime)" Sortable="true"></PropertyColumn>
    <PropertyColumn Property="@(p => p.Value)" Sortable="true"></PropertyColumn>
</QuickGrid>


